<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:registry address="zookeeper://aliyun:2181"/>
    <dubbo:protocol name="dubbo" port="20881"/>
    <dubbo:application name="MiBlog"/>
    <dubbo:provider timeout="30000"/>

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.fq.miblog.client.service.UserService" version="${dubbo.service.version}"
                   ref="userServiceImpl"/>
    <dubbo:service interface="com.fq.miblog.client.service.RelationService" version="${dubbo.service.version}"
                   ref="relationServiceImpl"/>
    <dubbo:service interface="com.fq.miblog.client.service.MiBlogService" version="${dubbo.service.version}"
                   ref="miBlogServiceImpl"/>
</beans>